* {
    margin: 0;
    cursor: default;
}

@font-face {
    font-family: 'Poppins';
    src: url(Poppins/Poppins-Regular.ttf);
}

body {
    background-color: #0D0C2D;
}

.form {
    display: flex;
    width: 35%;
    justify-content: center;
    background: #202041;
    padding: 20px 0;
    border-radius: 20px;
    margin: 50px auto;
}

.form__addtask {
    height: 70px;
    background: #383858;
    color: #eee;
    border: none;
}

.form__input {
    width: 75%;
    font-size: 30px;
    padding: 0 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
    font-family: 'Poppins';
}

.form__input::placeholder {
    color: #eee;
}

.form__submit {
    padding-right: 30px;
    font-size: 40px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
}

.list__task {
    background-color: #202041;
    width: 35%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.task {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    color: #eee;
    background-color: #383858;
    border-radius: 10px;
}

.task__text {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.task__throw {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}